* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    background-size: cover;
    background-position: center;
}

.calendar {
    position: relative;
    width: 200px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

.calendar #monthname {
    position: relative;
    padding: 5px 10px;
    color: #fff;
    background: #4749b8;
    font-size: 30px;
    font-weight: 700;
}

.calendar #dayname {
    margin-top: 0px;
    line-height: 1em;
    font-size: 20px;
    font-weight: 300;
    color: #dfdb19;
}

.calendar #daynumber {
    margin-top: 0px;
    line-height: 1em;
    font-size: 80px;
    font-weight: 700;
    color: #333;
}

.calendar #year {
    margin-bottom: 20px;
    line-height: 1em;
    font-size: 20px;
    font-weight: 500;
    color: #dfdb19;
}